* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    color: white;
    /* background-color: #000000; */
}

@media (min-width:50px) and (max-width: 768px) {
    body {
        justify-content: flex-start;
        align-items: flex-start;
    }
    h1 {
        margin-top: 5rem;
    }
    .container {
        width: 90%;
        height: auto;
        border-radius: 1rem;
    }
    #clock {
        font-size: 10vh;
        margin-top: 30px;
    }
    input {
        width: 90%;
    }
    .control {
        flex-direction: column;
        gap: 1rem;
    }
    .set,
    .clear {
        padding: 1vh;
        font-size: medium;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}

h1 {
    margin-top: 10rem;
    font-size: 50px;
    border-radius: 1rem;
    font-family: sans-serif;
}

.container {
    position: absolute;
    height: 200px;
    width: 300px;
    border-radius: 2rem;
}

#clock {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    color: rgb(224, 239, 10);
    font-size: 20vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-top: 60px;
}

input {
    border: 1px solid #eee7e7;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    height: 40px;
    width: 300px;
    justify-content: center;
    background-color: rgb(239, 5, 20);
    box-shadow: 0px 0px 40px rgb(255, 248, 248);
}

.control {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    padding: 2vh;
    gap: 2rem;
}

.set {
    background-color: green;
    border-radius: 15px;
    color: white;
    font-size: larger;
    padding: 2vh;
}

.clear {
    background-color: red;
    border-radius: 15px;
    color: white;
    font-size: larger;
    padding: 2vh;
}
